body{
    margin:0;
}

canvas{
    /* display: none; */
    box-sizing: content-box;
    border: solid 2px blue;
}

#output-container{
    box-sizing: content-box;
    border: solid 2px red;
    display: flex;  
    flex-wrap: wrap;
}

